body{
    font-family: 'Roboto',sans-serif;
 
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center; /* Centrer le contenu verticalement */
}


h2{
    text-align: center;
}